body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/wall.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo{
  width: calc(100vw / 3);
  top: 1.5vw;
  left: 1.5vw;
  position: absolute;
}


.biglietto{
  position: relative;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border: 10px solid black;
  border-radius: 10px;
  overflow: hidden;

}

.biglietto > img{
  min-height: 300px;
  height: calc(100vw / 3);
}

.tratta-prezzo{
  position: absolute;
  top: 11%;

  margin: 0 auto;
  /* right: 12%; */
  font-size: 1.5vw;
  font-weight: bolder;
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.tratta-tempo{
  position: absolute;
  top: 32%;
  font-size: 1.5vw;
  font-weight: bolder;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.eta{
  position: absolute;
  top: 46.5%;
  right: 3%;
  width: 95%;
  height: 2.5vw;
  margin: 0 auto;
  color: #fff;

  display: flex;
  justify-content: space-around;
}

.eta img{
  height: 100%;
}

.adult,
.young,
.over65{
  width: calc(100% / 3);
  text-transform: capitalize;
  font-size: 1.5vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#nome{
  position: absolute;
  top: 65%;
  left: 3%;
  width: 95%;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bolder;
  text-transform: uppercase;
}
