body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/wall.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo{
  width: calc(100vw / 3);
  margin-top: 50px;
  margin-left: 50px;
  align-self: flex-start;
}


.biglietto{
  position: relative;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border: 10px solid black;
  border-radius: 10px;
  overflow: hidden;

}

.biglietto img{
  min-height: 150px;
  height: calc(100vw / 3);
}

.tratta-prezzo{
  position: absolute;
  top: 11%;
  /* right: 12%; */
  font-size: 1.5vw;
  font-weight: bolder;
  width: 90%;

  display: flex;
  justify-content: space-around;

}

.tratta-tempo{
  position: absolute;
  top: 32%;
  font-size: 1.5vw;
  font-weight: bolder;

  display: flex;
  justify-content: space-around;
}
