body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url(../img/wall.jpg);
  background-position: center;
  background-size: cover;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo{
  width: calc(100vw / 3);
  margin-top: 50px;
  margin-left: 50px;
  align-self: flex-start;
}


.biglietto{
  position: relative;
  margin-right: 1vw;
  margin-bottom: 1vw;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.biglietto img{
  min-height: 150px;
  height: calc(100vw / 3);
}

#prezzo{
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
}
